* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container.Body {
    height: 458px;
}

.IMGModal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    .card {
        width: 400px;
        height: 500px;
        margin: auto;
        margin-top: 30px;
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            .loginImg {
                margin: auto;
                position: relative;
                top: 0px;
            }
            .loginContent {
                margin: auto;
                h6 {
                    position: relative;
                    top: -60px;
                }
                .close {
                    position: relative;
                    top: -225px;
                    right: -50px;
                    cursor: pointer;
                }
                &__fb {
                    position: relative;
                    top: -25px;
                    margin-left: 20px;
                }
                &__gg {
                    @extend .loginContent__fb;
                    top: -10px;
                }
                .signUp {
                    #signUp__text {
                        margin-top: 48px;
                        margin-left: 50px;
                        position: relative;
                        top: 10px;
                    }
                    #linkSignUp {
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    #signUp__link {
                        color: rgb(255, 159, 103);
                        // margin: auto;
                        margin-left: 105px;
                    }
                }
            }
        }
    }
    .g-signin2 {
        width: 228px;
        height: 40px;
        // z-index: 2;
        .abcRioButton.abcRioButtonLightBlue {
            border-radius: 4px;
            border: 1px solid #a0a0a0;
            box-shadow: 0 0px 0px 0px;
            &:hover {
                outline: none;
            }
        }
        .abcRioButtonContentWrapper {
            @extend .g-signin2;
            width: 150px;
            .abcRioButtonContents {
                // width: 228px;
                margin-left: 26px;
            }
            #connectedcsp618j7u5u {}
        }
    }
}