
.container-main {
    width: 1110px;
    margin: auto;
}

#cover-img{
    width: 1110px;
    height: 300px;
    position: absolute; 
}
#ava-img{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 60px;
}
#profile{
    position: absolute;
    margin-left: 260px;
    margin-top: 60px;
    font-size: 25px;
    color: white;
}
.TCN__Body{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 310px;
}
#all-tracks{
    border: 0;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 20px;
}
#all-tracks:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #ff9f67;
}
#btn-follow{
    text-align: center;
    width: 100px;
    height: 30px;
    outline: none;
    border: 0;
    background-color: #ff9f67;
    color: white;
    border-radius: 3px;
  

}
#btn-following{
    display: none;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 15px;
    width: 150px;
    height: 30px;
    outline: none;
    border: 0;
    border: 1px solid #ff9f67;
    color: #ff9f67;
    border-radius: 3px;
    background-color: white;


}
#btn-share{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid rgba(167, 167, 167, 0.527);
    text-align: center;
    background-color: white;   
}
#btn-more{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid rgba(167, 167, 167, 0.527);
}
.item__top{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(167, 167, 167, 0.527);
}
.item__body{
display: flex;
margin-top: 15px;
}

.followers{
    text-align: center;
    width: 33.33%;
    color: rgba(167, 167, 167, 0.829);
    border-right: 1px solid rgba(167, 167, 167, 0.527);
}
.following{
    text-align: center;
    width: 33.33%;
    color: rgba(167, 167, 167, 0.829);
    border-right: 1px solid rgba(167, 167, 167, 0.527);
}
.tracks{
    text-align: center;
    width: 33.33%;
    color: rgba(167, 167, 167, 0.829);
}
/* ------------------- */
.likes__list{
    margin-top: 30px;
    width: 100%;
}
.likes__list__head{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgba(167, 167, 167, 0.527);
}
.seeall{
    margin-left: 180px;
    
}
/* -------------- */
.listDeXuat__item {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
  }
  
  .listDeXuat__item .listDeXuat__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg {
    margin-right: 10px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg:hover img {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg:hover .fas.fa-play, .listDeXuat__item .listDeXuat__content .listDeXuat__songImg:hover .fas.fa-pause,
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg:hover .fas.fa-pause {
    display: block;
    cursor: pointer;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg img {
    border-radius: 5px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg .fas.fa-play, .listDeXuat__item .listDeXuat__content .listDeXuat__songImg .fas.fa-pause {
    display: none;
    position: absolute;
    left: 35px;
    top: 205px;
    color: white;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg .fas.fa-pause {
    display: block;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songName strong {
    color: #6d6d6d;
    font-weight: 500;
    font-size: 12px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songName span {
    color: #a0a0a0;
    font-size: 12px;
    padding-left: 5px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis {
    line-height: 50px;
    position: absolute;
    right: 45px;
    color: #999999;
    height: 16px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart:hover, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis:hover {
    cursor: pointer;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart:hover span, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis:hover span {
    visibility: visible;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart:hover i, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis:hover i {
    background-color: #efefef;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top: 9px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart span, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis span {
    visibility: hidden;
    width: 130px;
    height: 30px;
    line-height: 30px;
    background-color: #32323d;
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    padding: 0px 10px;
    position: absolute;
    z-index: 2;
    bottom: 90%;
    left: 50%;
    margin-left: -73px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart span::after, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #32323d;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis {
    right: 15px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis span {
    width: 50px;
    margin-left: -33px;
  }
    /* ------------------ */
    .Fanalsolikes__list{
      margin-top: 30px;
      width: 100%;
  }
  .Fanalsolikes__list__head{
      width: 100%;
      height: 30px;
      border-bottom: 1px solid rgba(167, 167, 167, 0.527);
  }
  .refresh{
      margin-left: 150px;
      
  }
  .list__Fanalsolikes__content{
    display: flex;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.363);
  }
  .list__Fanalsolikes__item .list__Fanalsolikes__content .list__Fanalsolikes__songImg img {
    border-radius: 50%;
    margin-right: 10px;
  }
  .list__Fanalsolikes__item .list__Fanalsolikes__content .list__Fanalsolikes__songName{
    width: 55%;
  }
  .list__Fanalsolikes__item .list__Fanalsolikes__content .list__Fanalsolikes__songName strong {
    color: #6d6d6d;
    font-weight: 500;
    font-size: 16px;
  }
  .list__Fanalsolikes__item .list__Fanalsolikes__content .list__Fanalsolikes__songName span {
    color: #6d6d6d;
    font-weight: 500;
    font-size: 12px;
  }
  .list__Fanalsolikes__follow button{
    position: absolute;
    border-radius: 3px;
    border: 2px solid rgba(182, 182, 182, 0.664);
    font-size: 13px;
    padding: 3px;
    margin-top: 5px ;
    background-color: white;
    outline: none;
  
  }
  .list__Fanalsolikes__following button{
    border-radius: 3px;
    background-color: white;
    border: 2px solid #ff9f67;
    font-size: 13px;
    padding: 3px;
    margin-top: 5px ;
    color: #ff9f67;
    outline: none;
    display: none;
  
  }